<!-- Navigation -->
{% block body %}
        <header>
        <nav class="navbar navbar-light navbar-expand-md">
            <div class="container-fluid" id="navBody" ><a class="navbar-brand" href="#">Brand</a><button class="navbar-toggler"
                    data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-link active"href="Mon CV pour les visiteurs/cv.html">Mon CV</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="Design/index.hmtl">Site Web designer</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="http://wordpress-ismaelsacko.fr">SymBnB</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="loccar/loccrar.php">LocCar</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="redaction.php">Rédaction</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="loccar/secu.html">New Car</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="chat/minichat.php">Salon de chat</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="JeuDeDifferenceJS/index.html">Jeu</a>
                        </li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="contact/contact.php">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        </header>
{% endblock %}        